@mixin carte($background-color, $font-size-titre, $marge) {
    
    background-color: $background-color;
    
    

    h2 {
        
        font-size: $font-size-titre;
   
        
    }
    

    ul {

        margin-left: $marge;
        margin-right: $marge;


    }

}