@keyframes wiggle {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes ect {

    0% {
        content: "";
    }

    33% {
        content: ".";
    }

    66% {
        content: "..";
    }

    100% {
        content: "...";
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    

    .header {
        background-color: $main-color;
        line-height: 200px;

        &__heading {
            text-align: center;
            margin: 0;
            vertical-align: middle;
            font-size: $taille-police-header;

            &--homepage {
                text-decoration: none;
                color: $color-ohmyfood;
                font-family: 'Josefin Sans', sans-serif;
            }


        }
    }

    .menus {
        background-color: $background-pricipal;
        height: 1500px;
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 1fr 1fr;
        grid-gap: 50px;
        justify-content: center;
        padding: 50px 0 100px;
        @media screen and (max-width: 1000px) {
            grid-template-columns: 350px;
            grid-template-rows: 1FR 1FR 1FR 1FR;


         
    
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: 250px;
            grid-template-rows: 1FR 1FR 1FR 1FR;

        }
        

        .menu-prev-1 {
            @include menus (1, 1);
            @media screen and (max-width: 1000px) {
                grid-row-start: 1;
                grid-column-start: 1;

            }
            

        }

        .menu-prev-2 {
            @include menus (2, 1);
            @media screen and (max-width: 1000px) {
                grid-row-start: 2;
                grid-column-start: 1;

            }
        }

        .menu-prev-3 {
            @include menus (1, 2);
            @media screen and (max-width: 1000px) {
                grid-row-start: 3;
                grid-column-start: 1;

            }

        }

        .menu-prev-4 {
            @include menus (2, 2);
            @media screen and (max-width: 1000px) {
                grid-row-start: 4;
                grid-column-start: 1;

            }

        }
    }

    .carte {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: $background-pricipal;
        

        .carte-le-chic-a-la-francaise {
            @extend %carte;
            @include carte ($color-background-menu-le-chic-a-la-francaise,$Taille-police-titres-menus-normal, 180px,);
            h2{
                font-family: 'Crimson Text', serif;

                font-size: 50px;

            }
            h3 {
                font-family: 'Crimson Text', serif;

                strong {
                    font-size: 30px;
                }
                
            }
            ul {
font-family: 'Crimson Text', serif;

                li {
                    font-size: 25px;
                }
                strong {
                    font-size: 20px;
                }
            }


           
           


        }

        .carte-le-delice-des-papilles {
            @extend %carte;
            @include carte ($color-background-menu-le-delice-des-papilles,$Taille-police-titres-menus-gros, 180px);
            h2{
                font-family: 'Dancing Script', cursive;
                font-size: 70px;

            }
            h3 {
                font-family: 'Kalam', cursive;

                strong {
                    font-size: 40px;
                }
                
            }
            ul {
                font-family: 'Kalam', cursive;

                li {
                    font-size: 25px;
                }
                strong {
                    font-size: 20px;
                }
            }

            

        }

        .carte-la-note-enchantee {
            @extend %carte;
            @include carte ($color-background-menu-la-note-enchantee,$Taille-police-titres-menus-normal, 75px);
            h2{
                font-family: 'Cookie', cursive;
                font-size: 70px;

            }
            h3 {
                font-family: 'Cookie', cursive;
                strong {
                    font-size: 50px;
                }
                
            }
            ul {
                font-family: 'Cookie', cursive;
                li {
                    font-size: 35px;
                }
                strong {
                    font-size: 30px;
                }
            }


        }

        .carte-la-palette-du-gout {
            @extend %carte;
            @include carte ($color-background-menu-la-palette-du-gout,$Taille-police-titres-menus-gros, 150px);
            h2{
                font-family: 'Kaushan Script', cursive;
                font-size: 70px;

            }
            h3 {
                font-family: 'Kaushan Script', cursive;
                strong {
                    font-size: 40px;
                }
                
            }
            ul {
                font-family: 'Kaushan Script', cursive;
                li {
                    font-size: 35px;
                }
                strong {
                    font-size: 30px;
                }
            }



        }
    }



    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $main-color;
        line-height: 50px;
        padding-right: 40px;
        

        &__items {
            margin: 10px;
            display: flex;
            padding-right: 40px;
            justify-content: space-between;
            list-style-type: none;
            font-size: $taille-police-footer;

            &--wiggle {
                text-decoration: none;
                color: $color-ohmyfood;
                font-weight: bolder;
                font-family: 'Josefin Sans', sans-serif;

                &:hover {
                    display: inline-block;
                    animation: wiggle 0.62s cubic-bezier(.36, .07, .19, .97) both;
                    transform: translate3d(0, 0, 0);



                }

            }

        }
    }

    .prochainement {
        padding-bottom: 200px;
        background-color: $background-pricipal;
        text-align: center;
        font-size: 2em;
        &__animation {
            background-color: $main-color;
            color: $color-ohmyfood;
            padding: 20px;
            width: 100px;
            font-family: 'Josefin Sans', sans-serif;

            border-radius: 222222px 222222px 222222px 222222px;
            &::after {
                content: "";
                animation: ect 5s ease-in-out infinite;
            }
        }
    }
}