//couleurs

$main-color: #709b89;
$fond-la-note-enchantee: #f5e3df;
$background-color: #ffffff;
$color-ohmyfood: #eecc5f;

// tailles police

$taille-police-header: 5em;
$taille-police-footer: 2em;
$taille-police-footer-menus: 0.5em;
$taille-police-textes-menus: 1em;
$taille-police-section: 1.5em;
$Taille-police-titres-menus: 2em;