//couleurs

$main-color: #58967c;
$fond-la-note-enchantee: #f5e3df;
$background-color: #ffffff;
$color-ohmyfood: #e4bc38;
$background-pricipal: rgb(243, 243, 243);
$color-background-menu-le-chic-a-la-francaise: #fff5fe;
$color-background-menu-le-delice-des-papilles: #edefef;
$color-background-menu-la-note-enchantee:#fcdfdb;
$color-background-menu-la-palette-du-gout:#fdfffd;

// tailles police

$taille-police-header: 7em;
$taille-police-footer: 2.2em;
$taille-police-footer-menus: 0.5em;
$taille-police-textes-menus: 1.2em;
$Taille-police-titres-menus-gros: 4.5em;
$Taille-police-titres-menus-normal: 3em;
$Taille-police-titres-sous-menus: 2em;



$animate: all 0.2s ease-in-out;
