//couleurs

$main-color: #58967c;
$fond-la-note-enchantee: #f5e3df;
$background-color: #ffffff;
$color-ohmyfood: #e4bc38;

// tailles police

$taille-police-header: 6em;
$taille-police-footer: 2.2em;
$taille-police-footer-menus: 0.5em;
$taille-police-textes-menus: 1em;
$taille-police-section: 1.5em;
$Taille-police-titres-menus: 2em;